---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Home">
  <section class="hero">
    <div class="text-container">
      <h1>See you in 2025</h1>
    </div>
    <div class="hero-image-container">
      <img src="/images/forsidebillede.webp" alt="Distortion gadefest" />
    </div>
    <div class="logo-container">
      <img src="/images/Distortion_logo.png" alt="Distortions logo" />
    </div>
  </section>

  <section class="navigation">
    <figure class="img-container-1">
        <a href="/lineup">
      <img src="/images/distortion_gadedans_250x250.webp" alt="folk der danser til Distortion" />
      <figcaption>Lineup 2024</figcaption>
        </a>
    </figure>
    <figure class="img-container-2">
        <a href="#">
        <img src="/images/distortion_gadehygge.webp" alt="forsamling af mennesker der sidder og spiser">
        <figcaption>Events 2024</figcaption>
        </a>
    </figure>
  </section>
  <h2>Join for our Newsletter</h2>
    <article class="form">
        <form action="Newsletter">
          <div>
          <label for="name">Name*</label>
            <input type="text" placeholder="Tab your name here!" id="name" required/>
          </div>
            <div>
            <label for="email">Email*</label>
              <input type="email" placeholder="example@mail.com" id="email" required/>
            </div>
            <div>
              <label for="phonenumber">Phonenumber*</label>
                <input type="number" placeholder="+(45) - 00 00 -00 00" name="phonenumber" id="phonenumber" required/>
            </div>
                <input type="submit" value="Sign up">
        </form>
    </article>

</MainLayout>
<style>
  h2{
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-image-container  {
    width: fit-content;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;

  }
  .logo-container{
      display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .logo-container img  {
    width: 200px;
  }
  .text-container h1 {
    color: white;
    text-align: center;
    top: 8%;
    font-size: 6.25rem;
    position: relative;
    /* transform: rotate(90deg); */
    right: 4%;
    writing-mode: vertical-rl;
  }
  .navigation{
    margin-top: 3rem;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .navigation img{
    width: 100%;
    position: relative;
  }
  .img-container-1 a{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .img-container-2 a{
    display:flex;
    justify-content: center;
    align-items: center;
  }
 
  figcaption {
    font-family:Bebas Neue;
    color: var( --secondary-clr);
    font-size:4rem;
    position: absolute;
    cursor: pointer;
  }

  form{
    font-family: "Montserrat", sans-serif;
    width:25%;;
  }
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8rem;
  }

  
  input{
    font-family: "Montserrat", sans-serif;
    margin: 0.8rem 0;
    width: 100%;
    padding: 0.5rem 0.7rem;
    
  }
  input[type="submit"]{
    font-family:Bebas Neue;
    font-size: 1.5rem;
    background-color: var(--secondary-clr);
    margin-top: 2rem;
    border-radius:10%;
  }

  /*Button interactiv*/
  input[type="submit"]:hover{
      background-color: var( --hover-background);
      color: var(--hover-text);
  }
  input[type="submit"]:active{
    border: 3px solid var(--active-stroke) ;
  }
  input[type="submit"]:focus{
    color: black;
    border: 3px solid var(--active-stroke) ;
    background-color: var(--secondary-clr);
  }
  input:focus{
    border:  solid #ffd035;
}
  
  label{
    color:rgba(255, 224, 121, 0.5); 
  }
 


@media screen (max-width: 768px){
    figcaption{
        font-size: 1rem;
    }
}
</style>
<script>
  const inputs = document.querySelectorAll('input[type="text"], input[type="email"], input[type="number"]');

  inputs.forEach(input => {
        input.addEventListener('focus', function() {
            this.previousElementSibling.style.color = 'var(--focus-stroke)'; 
        });
        input.addEventListener('blur', function() {
            this.previousElementSibling.style.color = 'rgba(255, 224, 121, 0.5)';  
        });
    });   
</script>