---
import BtnDownloadApp from "./Btn_downloadApp.astro";
---

<footer>
  <p>Official Festival App <br />Get set times, maps and more!</p>
  <section class="buttons">
    <BtnDownloadApp variant="app_stor">
      <div class="first_btn">
        <a href="https://apps.apple.com/us/app/distortion-festival-2024/id1671396156">
        <span>Download on The</span><br />
        <span>App Store</span>
        </a>
      </div>
      <img src="/images/Icon_Apple_icon_36px.svg" alt="Apples logo" />
    </BtnDownloadApp>
    <BtnDownloadApp variant="app_stor">
      <div class="first_btn">
        <a href="https://play.google.com/store/apps/details?id=dk.cphdistortion.app" target="_blank" >
          <span>Download on The</span><br />
          <span>App Store</span>
        </a>
      </div>
      <img src="/images/Icon_Google_play_36px.png" alt="Google Play logo" />
    </BtnDownloadApp>
  </section>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  p {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
  }
  a{
    color: var(--default-text-clr)
  }
  .first_btn {
    padding: 0.5;
  }
  span:nth-child(3) {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  span:nth-child(1) {
    font-weight: 400;
    font-size: 1.2rem;
  }
  img {
    display: flex;
    margin: 0.5rem;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
  }

  
</style>
